
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)) ,url(../images/log.jpg);
  background-size: cover;
  background-position: center;
}
.my-class {
    color: white;
    font-size: 1.25rem;
    width: 40%;
    border: 2px solid red;
    padding: 1.25rem;
    background-color: rgba(0, 0, 0, 0.39);
    box-shadow: 0px 0px 20px white;

}
.log_out {
  cursor: pointer;
}